/*==================================
LISTS
==================================*/

ul, ol {
  margin: 0 0 20px;
  padding: 0;
  list-style-position: outside;
}

li {
  margin-left: 1em;
}

// Social

ul.social_icons {
  margin: 0;
}

ul.social_icons li {
    display: inline-block;
    margin-right: 10px;
}

/*==================================
ICONS
==================================*/

.close_icon {
  position: relative;
  display: inline-block;
  width: 17px;
  height: 17px;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    &::before, &::after {
      background: $black;
    }
  }

  &::before, &::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #000;
    backface-visibility: hidden;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}