/*==================================
COLORS
==================================*/

.white {
  color: $white;
}

/*==================================
MARGINS
==================================*/

.margin_bottom_0 {
  margin-bottom: 0px;
}

/*==================================
FONTS
==================================*/

.uppercase {
  text-transform: uppercase;
}